<h1> Listing de tous les articles </h1>
<p>
 <%= link_to "Creer nouvel article", new_article_path %>
</p>
<table>
	<tr>
		<th>Titre</th>
		<th>Description</th>
	</tr>

	<% @articles.each do |article| %>
	<tr>
		<td><%= article.title %></td>		
		<td><%= article.description %></td>		
		<td><%= link_to "Editer", edit_article_path(article) %></td>
		<td><%= link_to "Afficher", article_path(article) %></td>
		<td><%= link_to "Supprimer", article_path(article), method: :delete %></td>
	</tr>	
	<% end %>	

</table>